{% extends "recipes/base.html" %}

{% block content %}
<div class="block">
  <h2>{{ object.username }}</h2>
  {% if own_profile %}
  <a href="{% url 'edit_profile'%}">Edit</a>
  {% endif %}
  {% if request.user.is_authenticated and request.user != object %}
  <form method="POST" action="{% url 'follow' object.username %}">
    {% csrf_token %}
    <input type="submit" name="follow" value="{% if followed %}un{% endif %}follow">
  </form>
  {% endif %}
  <section>
    <h3>Biography </h3>
    <div class="bio">{% if object.profile.bio %}{{ object.profile.bio }}{% else %}No biography yet... {% endif %}</div>
  </section>
  <section>
    <h3>Following</h3>
    <ul>
      {% for follow in follows %}
      <li>
        <a href="{% url 'profile' follow.username %}">{{ follow.username }}</a>
      </li>
      {% empty %}
      Following no one yet...
      {% endfor %}
    </ul>
  </section>
  <section>
    <h3>Recipebooks</h3>
    <ul>
      {% for recipebook in recipebooks %}
      <li>
        <a href="{% url 'view_recipebook' recipebook.id %}">{{ recipebook.title }}</a>
      </li>
      {% empty %}
      No recipebooks yet...
      {% endfor %}
    </ul>
    <a href="{% url 'profile_recipebooks' object.username %}"><h4>All recipe books</h4></a>
  </section>
</div>
  <section>
    {% for recipe in objects %}
    {% include 'recipes/listed-recipe.html' with object=recipe %}
    {% empty %}
    <h3>No recipes yet...</h3>
    {% endfor %}
  </section>
  {{ pagination_arrows|safe }}
</div>
{% endblock %}
