body {
    background-color: #eee0e0;
    color: #555;
    font-family: arial;
}

main {
    border-radius: 0.3em;
    max-width: 50em;
    background-color: #fff;
    padding: 1em;
    margin: auto;
    box-shadow: 0.1em 0.1em 0.1em #aaa;
}

a {
    color: #d799b5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: square;
    padding: 1em;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

input[type="button"], input[type="submit"] {
    background-color: #fff;
    padding: 0.3em;
    border-radius: 0.3em;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-family: sans-serif;
    padding: 0.3em;
    border: solid thin;
    outline: none;
    resize: none;
}

form {
    text-align: center;
}

label + textarea {
    display: block;
}

textarea {
    margin: auto;
}

.siteheader {
    text-align: center;
}

.siteheader h1 {
    display: inline-block;
}

.siteheader nav {
    display: inline-block;
    min-width: 30em;
}

.siteheader nav a {
    margin: 0.3em;
}

.siteheader a {
    color: #555;
}


.recipe > * {
    margin-bottom: 1em;
}

.helptext {
    font-style: italic;
    color: #aaa;
    display: block;
}

.recipe-published {
    font-style: italic;
}

.recipe-by {
    font-style: italic;
    text-align: center;
}

.recipe-description h3,
.recipe-ingredients h3,
.recipe-directions h3 {
    border-bottom: solid thin;
    max-width: 10em;
    margin: auto;
}

.recipe-description {
    white-space: pre-line;
}

.recipe header {
    margin-bottom: 3em;
}

#id_title {
    font-size: 1.3em;
}

#id_description {
    height: 5em;
}
