{% extends 'recipes/base.html' %}


{% block content %}
{% if own_recipebook %}
<div class="modal-forms">
  <form id="edit-recipebook-form" method="POST">{% csrf_token %}
    <h3>Edit <span id="edit-recipebook-title"></span></h3>
    {{ recipebook_form.as_p }}
    <input type="submit" value="Edit recipe">
  </form>
  <form id="delete-recipebook-form" method="POST">{% csrf_token %}
    <h3>Are you sure you want to delete <span id="delete-recipebook-title"></span>?</h3>
    <input type="submit" value="Confirm delete">
  </form>
</div>
{% endif %}
{% include 'recipebook_meta.html' with object=object own_recipebook=own_recipebook%}
{% for recipe in objects %}
{% include 'recipes/listed-recipe.html' with object=recipe %}
{% empty %}
<h3>No recipes here yet...</h3>
{% endfor %}
{{ pagination_arrows|safe }}
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/view-recipebook.js' %}"></script>
{% endblock %}
