{% extends 'recipes/base.html' %}

{% block content %}
<header>
  <h2>{{ object.title }}</h2>
  {% if own_recipebook %}
  <a href="{% url 'edit_recipebook' object.id %}">Edit</a>
  <a href="{% url 'delete_recipebook' object.id %}">Delete</a>
  {% endif %}
  <div>
    {{ object.description }}
  </div>
</header>
<ul>
  {% for recipe in recipes %}
  <li>
    <a href="{% url 'view_recipe' recipe.id %}">{{ recipe.title }}</a>
  </li>
  {% empty %}
  No recipes here yet...
  {% endfor %}
</ul>
{% endblock %}
