{% extends 'recipes/base.html' %}

{% block content %}
<div class="recipe">
  <header>
    <h2>{{ object.title }}</h2>
    <div class="recipe-by">By {{ object.user }} on {{ object.date_created }}</div>
  </header>
  <section class="recipe-description">
    <h3>Description</h3>
    <div>{{ object.description }}</div>
  </section>
  <section class="recipe-ingredients">
    <h3>Ingredients</h3>
    <div>{{ object.ingredients }}</div>
  </section>
  <section class="recipe-directions">
    <h3>Directions</h3>
    <div>{{ object.directions }}</div>
  </section>
</div>
{% endblock %}
