{% extends 'recipes/base.html' %}

{% block content %}
<div class="recipe">
  <header>
    <h2>{{ object.title }}</h2>
    <div class="recipe-by">
      By <a href="{% url 'profile' object.user %}">{{ object.user }}</a> on {{ object.date_created }}
    </div>
    {% if own_recipe %}
    <a href="{% url 'edit_recipe' object.id %}">Edit</a>
    <a href="{% url 'delete_recipe' object.id %}">Delete</a>
    {% endif %}
  </header>
  <section class="recipe-description">
    <h3>Description</h3>
    <div>{{ object.description }}</div>
  </section>
  <section class="recipe-ingredients">
    <h3>Ingredients</h3>
    <ul>
      {% for ingredient in ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </section>
  <section class="recipe-directions">
    <h3>Directions</h3>
    <ul>
      {% for direction in directions %}
      <li>
        <b>{{ direction.summary }}{% if direction.details %}:{% endif %}</b>
        {{ direction.details }}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
