{% extends 'recipes/base.html' %}

{% block content %}
{% if own_recipe %}
<div class="modal-forms">
  <form id="edit-recipe-form" action="{% url 'edit_recipe' object.id %}" method="POST">{% csrf_token %}
    <h3>Edit {{ object.title }}</h3>
    {{ recipe_form.as_p }}
    <input type="submit" value="Edit recipe">
  </form>
  <form id="delete-recipe-form" action="{% url 'delete_recipe' object.id %}" method="POST">{% csrf_token %}
    <h3>Are you sure you want to delete {{ object.title }}?</h3>
    <input type="submit" value="Confirm delete">
  </form>
</div>
{% endif %}
<div class="block">
  <div class="recipe">
    <header>
      <h2>{{ object.title }}</h2>
      <div class="recipe-by">
        By <a href="{% url 'profile' object.user %}">{{ object.user }}</a> on {{ object.date_created }}
        {% if object.get_average_score %}
        <span class="average-rating">
          <a href="#reviews">{{ object.get_average_score }}</a>
        </span>
        {% endif %}
      </div>
      {% if own_recipe %}
      <a class="recipe-edit-link" href="{% url 'edit_recipe' object.id %}">Edit</a>
      <a class="recipe-delete-link" href="{% url 'delete_recipe' object.id %}">Delete</a>
      {% endif %}
    </header>
    <section class="recipe-description">
      <h3>Description</h3>
      <div>{{ object.description }}</div>
    </section>
    <section class="recipe-ingredients">
      <h3>Ingredients</h3>
      <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </section>
    <section class="recipe-directions">
      <h3>Directions</h3>
      <ul>
        {% for direction in directions %}
        <li>
          <b>{{ direction.summary }}{% if direction.details %}:{% endif %}</b>
          {{ direction.details }}
        </li>
        {% endfor %}
      </ul>
    </section>
    {% if request.user.is_authenticated %}
    <section class="recipe-recipebooks">
      <header>
        <h3>Recipe Books</h3>
      </header>
      <form id="recipebook-form"
            action="{% url 'recipe_update_recipebooks' object.id %}"
            method="POST">
        {% csrf_token %}
        <select name="books" multiple="multiple">
          {% for book, checked in recipebooks %}
          <option value="{{ book.id }}" {% if checked %} selected="selected" {% endif %}>
            {{ book.title }}
          </option>
          {% endfor %}
        </select>
        <input type="submit" value="Update Recipe Books">
      </form>
      <form id="new-recipebook-form" method="POST" action="{% url 'ajax_create_recipebook' %}">{% csrf_token %}
        {{ recipebook_form.as_p }}
        <input type="submit" value="Create recipe book">
      </form>
    </section>
    {% endif %}
    <section id="reviews" class="recipe-reviews">
      <header>
        <h3>Reviews</h3>
      </header>
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'new_review' object.id %}">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" value="Submit review">
      </form>
      {% endif %}
      {% for review in reviews %}
      {% include 'review.html' with review=review request=request %}
      {% empty %}
      No reviews yet...
      {% endfor %}
      <a href="{% url 'recipe_reviews' object.id %}"><h4>View all reviews</h4></a>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/recipe.js' %}"></script>
{% endblock %}
